@media only screen and (max-width:800px){
    
    .MenuBar{
        float: left;
        margin-right: 5px;
        position: relative;
        width: 10vh;
        height: 10vh;
    }
    
    div.MenuBar{
        font-size: 2vw;
        line-height: 7vh;
        width: 15vw;
    }
    .phoneLineFix{
        line-height: 0vh;
        margin-top: -2.6vh;
    }   
}